<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

        <!-- 1.自动扫描器，只扫描控制器@Controlle -->
		<context:component-scan base-package="spring" use-default-filters="false">
			<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
		</context:component-scan>

		<!-- 2. 配置视图解析器 -->
		<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
			<property name="prefix" value="/"></property>
			<property name="suffix" value=".jsp"></property>
		</bean>

        <!-- 3. 如果springmvc不能处理，然后就交给tomcat -->
 		<mvc:default-servlet-handler/>
        <!-- 4.配置注解驱动 映射动态请求，使能够支持springmvc一些高级功能，比如JSR303校验，快捷AJAX请求 -->
        <mvc:annotation-driven/>

        <!-- ================================================================================================================================ -->
        <!-- ResourceBundleMessageSource
        <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        	<property name="basename" value="i18n"></property>
        </bean>-->

        <!-- ViewController
	        <mvc:view-controller path="" view-name=""/>
         -->

</beans>
